/*mobile*/
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfc;
}

.container {
  background-color: #fcfcfc;
  margin: 0 auto;
}

/* structure */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfc;
  color: #1E0620;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.6rem;
}

img {
  margin: 2rem 1.6rem;
}

article.section-intro {
  padding: 4rem 1.6rem;
}

.button {
  background-color: #581E59;
  border-radius: 3rem;
  color: #fcfcfc;
  height: 6rem;
  margin: 2rem 0;
  line-height: 1.8rem;
  padding: 2.1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 20rem;
}

/* typography */
h1 {
  color: #1E0620;
  font-family: 'Carter One', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

h2 {
  color: #1E0620;
  font-family: 'Carter One', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin: 2rem 0;
}

h3 {
  color: #5EB1C3;
  font-family: 'Carter One', sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 2rem 0;
  text-align: center;
}

h4 {
  color: #1E0620;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
}

h5 {
  color: #1E0620;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 0rem 1.6rem;
  text-align: center;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 2rem 1.8rem;
  text-align: left;
}

li {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: left;
}

.underline {
  border-bottom: .3rem solid currentColor;
  color: #1E0620;
}

.summary-underline {
  background-color: #1E0620;
  height: .3rem;
  width: 28rem;
}

.intro h1 {
  color: #fcfcfc;
  margin-left: 1.6rem;
  text-align: left;
}

.intro h4 {
  color: #fcfcfc;
  margin-bottom: 0;
  margin-left: 1.6rem;
  text-align: left;
}

.intro h5 {
  color: #fcfcfc;
  text-align: left;
  margin: 1rem 1.6rem;
}

.projects h2 {
  color: #fcfcfc;
}

.projects h4 {
  color: #fcfcfc;
}

.projects h5 {
  color: #fcfcfc;
  margin-top: 2rem;
}

a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
}

.navbar a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.projects a {
  color: #fcfcfc;
  text-align: center;
}

/* navigation bar */
nav {
  background-color: #fcfcfc;
  display: block;
}

nav img {
  width: 8rem;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: center;
}

a.logo {
  display: inline-block;
  margin: 2rem;
  text-align: left;
}

a.icon {
  display: inline-block;
  position: absolute;
  margin: 2rem;
  right: 0;
  top: 0;
}

/* dropdown menu */
.navbar {
  overflow: hidden;
  background-color: #fcfcfc;
  position: relative;
}

.navbar #nav-links {
  background-color: #f2f2f2;
  display: none;
}

#nav-links a {
  color: #1E0620;
  padding: 2rem;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  display: block;
}

/* hamburger menu styling */
.hmenu-container {
  display: inline-block;
}

.bar1, .bar2, .bar3 {
  width: 3.5rem;
  height: .5rem;
  background-color: #333;
  margin: .6rem 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

footer h4 {
  font-size: 2.4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.exclaim {
  font-family: 'Carter One', sans-serif;
  font-size: 3rem;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer img {
  height: 3.5rem;
  width: 3.5rem;
}

/* index.html */
section.hero {
  background: url("/images/purple-screentone.png") no-repeat;
  background-color: #fcfcfc;
  background-size: cover;
  color: #fcfcfc;
  margin: 0;
  padding: 4rem 0 43rem;
  position: relative;
}

.hero img {
  bottom: -2rem;
  margin: 0;
  position: absolute;
  width: 91.5%;
}

.intro {
  align-items: flex-start;
  display: flex;
}

section.projects {
  margin: 8rem 0 2rem;
}

.projects article {
  height: 35rem;
  margin: 1rem 1.6rem;
  padding: 2rem 1.6rem;
}

article.project-one {
  background-color: #54ACBF;
  background-image: url("/images/cloud-giant-logo-2.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 3rem;
}

.project-two {
  background: linear-gradient(180deg, #581E59 0%, rgba(88, 30, 89, 0.25) 100%), linear-gradient(0deg, #581E59, #581E59), url("/images/blocjams-code.png");
  background-blend-mode: normal, overlay, normal;
}

.project-three {
  background-color: #7ED9A5;
  background: url("../images/laughing.png") bottom no-repeat, #7ED9A5;
}

/* about me */
section.about-me {
  background: url("/images/purple-screentone.png") top no-repeat, url("/images/green-screentone.png") bottom no-repeat;
  background-color: #fcfcfc;
  background-size: 270rem;
  margin: 6rem 0 4rem 0;
  padding: 42rem 0 4rem 0;
  position: relative;
}

.about-me img {
  margin: 0;
  position: absolute;
  top: -2rem;
  width: 91.5%;
}

.about-text {
  background-color: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(30, 6, 32, 0.25), 0px -1px 4px rgba(30, 6, 32, 0.25);
  margin: 0 1.6rem;
  padding: 4rem 1.6rem;
}

/* project */
.cgs-header {
  background: linear-gradient(180deg, rgba(135, 216, 255, 0.05) 0%, #7ABECC 100%);
  background-blend-mode: darken;
  margin: 0;
  padding: 6rem 1.6rem;
  position: relative;
}

.cgs-header img {
  margin: 0;
  position: absolute;
  width: 80%;
}

article.project-description {
  padding: 26rem 0 4rem;
  position: relative;
}

.project-description h5 {
  margin-top: 4rem;
}

.blue-box {
  background-color: #BBDDE4;
  padding: 44rem 0rem 0rem;
  position: relative;
  margin: 6rem 0 0;
}

.img-only {
  background-color: #F2F2F2;
  padding: 2rem 1.6rem;
  margin: 0;
}

.img-only img {
  margin: 0;
  padding: 2rem 0;
  width: 100%;
}

.blue-box img {
  top: -4rem;
  margin: 0;
  position: absolute;
  width: 91.5%;
}

.grey-box img {
  width: 91.5%;
}

.grey-box {
  background-color: #F2F2F2;
}

.grey-card {
  background-color: #F2F2F2;
  margin: 2rem 1.6rem;
  padding: 2rem 1.6rem;
}

.xtab {
  background: url('../images/xtab.png') left top no-repeat;
  background-size: 3rem auto;
  min-height: 3rem;
  padding-left: 3.2rem;
}

.extab {
  background: url('../images/exclaimtab.png') left top no-repeat;
  background-size: 3rem auto;
  min-height: 3.5rem;
  padding-left: 3.2rem;
}

.checktab {
  background: url('../images/checktab.png') left top no-repeat;
  background-size: 3rem auto;
  min-height: 3.5rem;
  padding-left: 3.2rem;
}

.full-width {
  padding: 0;
  margin-bottom: 3rem;
  width: 100%;
}

.bar-graph {
  width: 100%;
}

.bar-graph li {
  margin-bottom: 1rem;
  position: relative;
}

.bar-graph li p {
  align-items: center;
  display: flex;
  font-weight: 600;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

.bar-graph li p span {
  font-weight: bold;
  font-size: 30px;
  line-height: 80px;
  padding-right: 1rem;
}

.bar-graph li::before {
  background: linear-gradient(270deg, #A7F2EB 0%, #B0E7C8 100%);
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.bar-graph li.percent-40::before {
  width: 40%;
}

.bar-graph li.percent-45::before {
  width: 45%;
}

.bar-graph li.percent-55::before {
  width: 55%;
}

.bar-graph li.percent-80::before {
  width: 80%;
}

.storage-logos img {
  width: 7rem;
}

.storage-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.personas-pic {
  height: 20rem;
  width: 20rem;
}

.personas-name h4 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem;
}

.personas-info h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem;
}

ol {
  align-items: flex-start;
  list-style: decimal;
  margin: 1.6rem 2rem;
  text-align: left;
}

.personas-quote {
  margin: 2rem 0rem;
}

.thin-image {
  margin: 0;
  padding: 0;
}

.thin-image img {
  width: 91.5%;
}

/* contact */
section.contact-intro {
  padding: 8rem 1.6rem 4rem;
}

section.form {
  background-color: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(30, 6, 32, 0.25), 0px -1px 4px rgba(30, 6, 32, 0.25);
  display: block;
  margin: 4rem 1.6rem 8rem;
  padding: 2rem 1.6rem;
}

label {
  color: #1E0620;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3rem;
  margin-top: 2rem;
  text-align: left;
}

input {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: .8rem 0;
  box-sizing: border-box;
}

textarea {
  min-height: 20rem;
  width: 100%;
  padding: 1.2rem 2rem;
  margin: .8rem 0;
  box-sizing: border-box;
}

.button-container {
  text-align: center;
}

button {
  background-color: #581E59;
  border-radius: 3rem;
  color: #fcfcfc;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  height: 6rem;
  margin: 2rem 0;
  line-height: 1.8rem;
  padding: 2.1rem 2rem;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  width: 20rem;
  border: 0;
}

/*desktop*/
@media screen and (min-width: 1025px) {

}

/*tablet*/
@media screen and (min-width: 768px) {

}
