/*mobile*/
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fcfcfc;
}

.container {
  background-color: #fcfcfc;
  margin: 0 auto;
}

/* navigation bar */
nav {
  background-color: #fcfcfc;
  display: block;
}

nav img {
  width: 8rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

li {
  margin: 0 1rem;
}

.navbar a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* dropdown menu */
.navbar {
  overflow: hidden;
  background-color: #fcfcfc;
  position: relative;
}

.navbar #nav-links {
  background-color: #f2f2f2;
  display: none;
}

.navbar a {
  color: #1E0620;
  padding: 2rem;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  display: block;
}

a.logo {
  text-align: left;
}

/* hamburger menu styling */
.hmenu-container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 3.5rem;
  height: .5rem;
  background-color: #333;
  margin: .6rem 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* structure */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  background-color: #fcfcfc;
  color: #1E0620;
  float: left;
  margin: 2rem 1.6rem;
  /* padding: 4rem 1.6rem; */
}

article {
  padding: 4rem 2rem;
  margin: 2rem 0;
}

.button {
  background-color: #581E59;
  border-radius: 3rem;
  color: #fcfcfc;
  height: 6rem;
  padding: 1.5rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 20rem;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem;
}

footer h2 {
  display: flex;
  justify-content: center;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer img {
  height: 3.5rem;
  width: 3.5rem;
}

/* index.html */
section.hero {
  background: linear-gradient(180deg, #581E59 0%, #260126 100%), url("/images/screentone.png") no-repeat;
  background-blend-mode: hard-light, normal;
  background-color: #fcfcfc;
  color: #fcfcfc;
  margin-top: 0
}

.hero img {
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 1.6rem;
  width: 100%;
}

.projects article {
  height: 35rem;
}

.project-one {
  background-color: #54ACBF;
  background-image: url("/images/Cloud Giant Logo 2.png");
  background-position: center;
  background-repeat: no-repeat;
}

.project-two {
  background: linear-gradient(180deg, #581E59 0%, rgba(88, 30, 89, 0.25) 100%), linear-gradient(0deg, #581E59, #581E59), url("/images/Blocjams Code.png");
  background-blend-mode: normal, overlay, normal;
}

.project-three {
  background-color: #7ED9A5;
  background-image: url("/images/LDI.png");
}

/* about me */
.about-me img {
  width: 34.3rem;
}

.about-text {
  background-color: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(30, 6, 32, 0.25), 0px -1px 4px rgba(30, 6, 32, 0.25);
}

/* project */
.cgs-header {
  background: linear-gradient(180deg, rgba(135, 216, 255, 0.05) 0%, #7ABECC 100%);
  background-blend-mode: darken;
  margin: 0;
  padding: 6rem 1.6rem;
}

.cgs-header img {
  margin: 0 3.8rem;
}

.project-description {
  padding: 0 0;
}

.white-box .grey-box .blue-box {
  padding: 1.6rem 4rem;
  margin: 1.6rem 4rem;
}

.blue-box {
  background-color: #BBDDE4;
}

.blue-box img {
  padding: 0 1.6rem;
  width: 34.3rem;
}

.grey-box img {
  width: 30rem;
}

.grey-box {
  background-color: #F2F2F2;
}

.grey-card {
  background-color: #F2F2F2;
  margin: 2rem 1.6rem;
  padding: 2rem 1.6rem;
}

.storage-logos img {
  width: 7rem;
}

.storage-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thin-image {
  margin: 0;
  padding: 0;
}

.thin-image img {
  width: 34.3rem;
}

#cgs-mockups {
  width: 27.5rem;
}

/* typography */
h1 {
  color: #1E0620;
  font-family: 'Carter One', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

h2 {
  color: #1E0620;
  font-family: 'Carter One', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

h3 {
  color: #5EB1C3;
  font-family: 'Carter One', sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

h4 {
  color: #1E0620;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
}

h5 {
  color: #1E0620;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  margin: ;
  text-align: left;
}

.underline {
  width: 20rem;
  height: .3rem;
  background-color: #1E0620;
}

.intro h1 {
  color: #fcfcfc;
}

.intro h4 {
  color: #fcfcfc;
}

.intro h5 {
  color: #fcfcfc;
}

.projects h2 {
  color: #fcfcfc;
}

.projects h4 {
  color: #fcfcfc;
}

.projects h5 {
  color: #fcfcfc;
}

a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
}

.navbar a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.projects a {
  color: #fcfcfc;
  text-align: center;
}

/*desktop*/
@media screen and (min-width: 1025px) {

}

/*tablet*/
@media screen and (min-width: 768px) {

}
